<form class="modal movie-edit-form" novalidate [formGroup]="formGroup">
  <div class="modal__body">
    <app-input
      [placeholder]="'Логин'"
      type="text"
      formControlName="login"
    ></app-input>
    <app-input
      [placeholder]="'Пароль'"
      type="password"
      formControlName="password"
    ></app-input>
    <select formControlName="role">
      <option [ngValue]="0">Администратор</option>
      <option [ngValue]="1">Пользователь</option>
    </select>
  </div>
  <div class="modal__controls">
    <app-btn class="modal__control modal__control--submit" text="Сохранить" (click)="show()"></app-btn>
    <app-btn class="modal__control modal__control--cancel" [type]="'text'" text="Отмена" (click)="onClose()"></app-btn>
  </div>
</form>
