<form class="form__scroll" novalidate [formGroup]="formGroup" [perfectScrollbar]>
  <div class="form__group">
    <div class="form__input">
      <app-input
        [placeholder]="'Логин'"
        type="text"
        formControlName="login"
      ></app-input>
    </div>
    <div class="form__errors" *ngIf="isInvalidControl('login')">
      <span class="form__error" *ngIf="getErrorsControl('login').required">{{validationMessage.required}}</span>
      <span class="form__error" *ngIf="getErrorsControl('login').isExistLogin">{{validationMessage.isExist('Логин')}}</span>
    </div>
  </div>
  <div class="form__group">
    <div class="form__input">
      <app-input
        [placeholder]="'Пароль'"
        type="password"
        formControlName="password"
      ></app-input>
    </div>
    <div class="form__errors" *ngIf="isInvalidControl('password')">
      <span class="form__error" *ngIf="getErrorsControl('password').required">{{validationMessage.required}}</span>
      <span class="form__error" *ngIf="getErrorsControl('password').minlength">{{validationMessage.minLength(8)}}</span>
    </div>
  </div>
  <div class="form__group">
    <div class="form__input">
      <select formControlName="role">
        <option [ngValue]="1">Администратор</option>
        <option [ngValue]="2">Пользователь</option>
      </select>
    </div>
    <div class="form__errors" *ngIf="isInvalidControl('role')">
      <span class="form__error" *ngIf="getErrorsControl('role').required">{{validationMessage.required}}</span>
    </div>
  </div>

</form>
<div class="modal__controls">
  <app-btn
    class="modal__control modal__control--submit"
    text="Сохранить"
    (onClick)="submit()"
    [wait]="saving"
    [disabled]="!canSubmit()">
  </app-btn>
  <app-btn
    class="modal__control modal__control--cancel"
    [type]="'text'"
    text="Отмена"
    [disabled]="saving"
    (click)="onClose()">
  </app-btn>
</div>
