.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 304px;
  min-height: 369px;
  max-height: 100vh;
  padding: 21px;
  padding-bottom: 26px;
  background-color: #fff;
  border-radius: 8px;
  &__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 22px;
  }
  &__row {
    margin-top: 23px;
  }
  &__submit-container {
    display: flex;
    justify-content: center;
  }
  &__errors {
    &-error {
      display: block;
      font-size: 12px;
      color: #f00;
    }
  }
}
