<form class="login-form" [formGroup]="formGroup" novalidate [perfectScrollbar] (keydown.enter)="submit()">
  <div class="login-form__content">
    <h2 class="login-form__title">Вход</h2>
    <div class="form__group">
      <div class="form__input">
        <app-input
          [placeholder]="'Логин'"
          formControlName="login"
          [type]="'text'">
        </app-input>
      </div>
      <div class="form__errors" *ngIf="isInvalidControl('login')">
        <span class="form__error" *ngIf="getErrorsControl('login').required">{{validationMessage.required}}</span>
      </div>
    </div>
    <div class="form__group">
      <div class="form__input">
        <app-input
          [placeholder]="'Пароль'"
          formControlName="password"
          [type]="'password'">
        </app-input>
      </div>
      <div class="form__errors" *ngIf="isInvalidControl('password')">
        <span class="form__error" *ngIf="getErrorsControl('password').required">{{validationMessage.required}}</span>
      </div>
    </div>
    <div class="login-form__row">
      <app-checkbox
        [labelText]="'Запомнить'"
        formControlName="remember"
      ></app-checkbox>
    </div>
  </div>
  <div class="login-form__submit-container">
    <app-btn
      [disabled]="!canSubmit()"
      [wait]="requesting"
      (onClick)="submit()"
      text="Войти"
    ></app-btn>
  </div>
</form>
