.admin-tab {
  &-section {
    margin-top: 20px;
  }
  &__films {
    display: flex;
  }
  &__content {
    margin: 15px 0;
  }
}

.search-container {
  display: flex;
  justify-content: center;
  padding: 15px 0 40px 0;
}

