<app-tabs>
  <app-tab [name]="'Фильмы'" [templateRef]="firstRef"></app-tab>
  <app-tab [name]="'Пользователи'" [templateRef]="secondRef"></app-tab>
</app-tabs>

<ng-template #firstRef>
  <div class="admin-tab-section">
    <div class="search-container">
      <app-search></app-search>
    </div>
    <div class="admin-tab__content">
      <app-movies [movies]="movies"></app-movies>
    </div>

  </div>

</ng-template>

<ng-template #secondRef>
  <div class="admin-tab-section">
    <div class="search-container">
      <app-search></app-search>
    </div>
    <div class="admin-tab__content">
      <app-users [users]="users"></app-users>
    </div>

  </div>
</ng-template>
