<div class="login-form">
  <div class="login-form__content">
    <h2 class="login-form__title">Вход</h2>
    <div class="login-form__row">
      <app-input [placeholder]="'Логин'"></app-input>
    </div>
    <div class="login-form__row">
      <app-input [placeholder]="'Пароль'"></app-input>
    </div>
    <div class="login-form__row">
      <app-checkbox [labelText]="'Запомнить'"></app-checkbox>
    </div>
  </div>
  <div class="login-form__submit-container">
    <app-btn text="Войти"></app-btn>
  </div>
</div>
