<form class="modal movie-edit-form" novalidate [formGroup]="formGroup">
  <div class="modal__body">
    <app-input
      [placeholder]="'Название'"
      formControlName="title"
    ></app-input>
    <app-input
      [placeholder]="'Год'"
      formControlName="year"
    ></app-input>
    <app-input
      [placeholder]="'Страна'"
      formControlName="country"
    ></app-input>
    <app-input
      [placeholder]="'Жанр'"
      formControlName="genre"
    ></app-input>
    <app-input
      [placeholder]="'Ссылка на изображение'"
      formControlName="preview">
    </app-input>
    <ckeditor
      [editor]="Editor"
      formControlName="description"
    ></ckeditor>
  </div>
  <div class="modal__controls">
    <app-btn class="modal__control modal__control--submit" text="Сохранить" (click)="onSave()"></app-btn>
    <app-btn class="modal__control modal__control--cancel" [type]="'text'" text="Отмена" (click)="onClose()"></app-btn>
  </div>
</form>
