<div class="admin-tab-section">
  <div class="search-container">
    <app-search
      (searchEmitter)="updateSearchValue($event)"
    ></app-search>
  </div>
  <div class="admin-tab__content">
    <div class="admin-crud-page">
      <div class="admin-crud-page__toolbar">
        <app-btn text="Добавить" (click)="openModalToAddMovie()"></app-btn>
      </div>
      <div class="admin-crud-page__list">
        <div class="movie-item__container" *ngFor="let movie of (movies | search: searchValue:'title')">
          <app-movie-edit [movie]="movie"></app-movie-edit>
        </div>
      </div>
    </div>
  </div>
</div>



